.user {
	color: #FFFFFF;
}
.public {
	color: #EEEEEE;
}
.api {
	color: #DDDDDD;
}
.context {
	color: #CCCCCC;
}
.within {
	color: #FF0000;
}
.handles {
	color: #AAAAAA;
}
.patch {
	color: #999999;
}
.input {
	color: #888888;
}
.output {
	color: #777777;
}
.reads {
	color: #666666;
}
.writes {
	color: #555555;
}
