.blue_back {
    background-color: #005FA2;
}

.blue {
    color: #005FA2;
}

.black {
    background-color: #272727;
}

.white_back {
    background-color: #DDDDDD;
}

.white {
    color: #FFFFFF;
    text-underline-offset: unset;
}

/* デザイン */
.shadow {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.not_under_line {
    text-decoration: none;
}