.title {
    font-weight: bold;
    font-size: 25px;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

/* color */
.header {
    background-color: #1b1b1b;
}

.back_ground {
    background-color: #333333;
}

.white_text {
    color: #FFFFFF;
}

.link_color {
    color: #c8d5ff;
}